
@{
    ViewBag.Title = "Cisco ISE Configuration";
    Layout = "~/Views/Dashboard/Layout/_dashboardLayout.cshtml";
}

<div class="col-md-12" ng-controller="CertificatesController as certificatesVm">
    <div class="panel panel-default">
        <div class="panel-heading">
            Cisco ISE
        </div>

        <div class="panel-body">
        </div>
    </div>
</div>
