@{
    ViewBag.Title = "Identity Provider";
    Layout = "~/Views/Dashboard/Layout/_dashboardLayout.cshtml";
}

<div class="col-md-12" ng-controller="IdentityProviderController as idpVm">
    <div class="ng-cloak col-md-offset-1 col-md-10" ng-hide="!idpVm.viewIdentityProviderDetails">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Identity Provider
            </div>

            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control" ng-model="idpVm.idpDetails.name" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input type="text" class="form-control" ng-model="idpVm.idpDetails.description" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel panel-default" ng-hide="!idpVm.viewInstalledCertificate">
                                <div class="panel-heading">
                                    Certificates
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn btn-sm" ng-click="idpVm.generateNewCertificate()">Generate new certificate</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-10 col-md-offset-1" ng-repeat="certificate in idpVm.idpDetails.certificates">
                                        @RenderPage("_certificateView.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>

                        @RenderPage("_IdentityProviderCertificateGeneration.cshtml")

                        <div class="row" ng-hide="!idpVm.viewInstalledCertificate">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group pull-right">
                                        <button class="btn btn-md" ng-click="idpVm.saveChanges()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

