{"iseServerSettings":{"serverIP":"10.100.11.87","apiUsername":"developer","apiPassword":"Minions12345","sponsorPortalUsername":"sponsoruser","sponsorPortalPassword":"Minions12345"},"bankIDSettings":{"clientId":"Conscia-INA","clientSecret":"38bf026e-1ac0-46e9-9194-2fcf0386fa54","oidcBaseUrl":"https://preprod.bankidapis.no/oidc/oauth/","redirectUrl":"https://localhost:44320/","manifestUrl":"https://preprod.bankidapis.no/oidc/oauth/.well-known/openid-configuration","authenticationType":"BankID","scope":"openid standard_bankid"}}