<?xml version="1.0" encoding="utf-8"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="https://hvmanagement.munchkinlan.com/" Description="ISEFront SAML Identity Provider" LocalCertificateFile="Certificates\6c67ec7d-6e41-4ea1-a52f-ad850ac429f1.pfx" LocalCertificatePassword="KyY6E6vF4px3FeG.f.vtrERSJGyy_ZnT" />
</SAMLConfiguration>