<?xml version="1.0" encoding="utf-8"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="https://hvmanagement.munchkinlan.com:44329/" Description="ISEFront SAML Identity Provider" LocalCertificateFile="Certificates\046e17fb-56b2-4069-8e56-0d9ff5766a1e.pfx" LocalCertificatePassword="Xk9 cJ8zzMMad0oqDUgDdo+cTp5xgflA" />
  <PartnerServiceProviders>
    <PartnerServiceProvider 
      Name="http://CiscoISE/2cdc92a2-256f-11e7-8cef-02428efd8454" 
      PartnerCertificateFile="Certificates\SAML_hvciscoise.munchkinlan.com.cer"
      AssertionConsumerServiceUrl="https://10.100.11.87:8443/portal/SSOLoginResponse.action" SignAssertion="true" />
  </PartnerServiceProviders>
</SAMLConfiguration>