<?xml version="1.0" encoding="utf-8"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="https://hvmanagement.munchkinlan.com/" Description="ISEFront SAML Identity Provider" LocalCertificateFile="Certificates\903b3789-6960-40a2-b58e-14b25e84cd71.pfx" LocalCertificatePassword="bbZ/nbzJG8Gkt5dTeuZ5wmM5k9--SB4v" />
</SAMLConfiguration>